body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'Arial sans-serif';
    align-content: center;
    color: white;
    font-weight: bold;
}
h1 {
    color: goldenrod;
}

#message {
    font-style: italic;
}